

/*기본설정*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #220417;
}

ul {
  list-style: none;
}

body {
  font-family: 윤고딕;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #220417;
  min-width: 1320px;
}

/*기본설정*/
/*헤더*/
#header {

  height: 125px;
}

.header_inner {
  width: 1320px;
  height: 80px;
  padding-top: 45px;
  margin: auto;

}

/*왼쪽_버튼*/
#L_m .l_M {
  float: left;
}

#L_m .l_M li {
  float: left;
}

#L_m .l_M .li1 a {
  padding-left: 20px;
  font-weight: 600;
}

#L_m .l_M li a {
  padding-right: 12px;
  font-weight: 600;
  font-size: 12px;

}

/*왼쪽_버튼*/
/*검색_기능*/
#look {
  float: right;
}

.search input {
  width: 80%;
  outline-style: none;
  padding: 5px 5px;
  border-radius: 3px;
  background: url(../images/Community/search.png)100% no-repeat;
}

/*검색_기능*/
/*로고*/
.logo {
  width: 170px;
  height: 55px;
  margin: auto;
  padding-bottom: 20px;
}

.logo img {
  width: 170px;
  height: 55px;
  margin: auto;
}

/*로고*/
/*헤더*/
/*메뉴*/
.M {
  background-color: #f8dfe8;
  border-top: 1px solid #3b3b33;
  border-bottom: 1px solid #3b3b33;
}

#MENU {

  height: 40px;
  width: 1320px;
  margin: auto;
}

#MENU .menu {
  text-align: center;
  margin-left: 65px;

}

#MENU .menu .img_1 {
  width: 27px;
  height: 18px;
  float: left;

}

#MENU .menu .img_1 img {
  width: 27px;
  height: 18px;
  float: left;
  display: block;
  border-right: 1px solid #3b3b33;
  border-left: 1px solid #3b3b33;
  padding: 11px 5px;
}

#MENU .menu .li2 {
  padding-left: 170px;

}

#MENU .menu li {

  float: left;
}

#MENU .menu li a {
  padding-right: 58px;
  position: relative;
  top: 8px;
  font-weight: 700;
}

/*메뉴*/
/*배너*/
#banner {
  background: url(../images/Community/banner_com.jpg) no-repeat center top;
  width: 100%;
  height: 240px;
  background-size: cover;
}

/*배너*/

/*배경*/
.bg1 {
  width: 1320px;
  height: 320px;
  margin: auto;
}
#banner .banner_01 {
  font-size: 26px;
  font-weight: 600;   
  color: #534953;
  display: block;
  text-align: center;
  padding-top: 108px;
}
/*왼쪽 상단 글*/
.bg1 .p {
  padding: 80px 0 0 30px;
}

.bg1 .go {
  padding: 80px 0 0 0;
  font-size: 24px;
  font-family:GmarketSansMedium;
  text-align: center;
}

.bg1 .go_x {
  padding: 80px 0 30px 0;
  font-size: 16px;
  font-family: 700;
  text-align: center;
}

/*왼쪽 상단 글*/
/*검색*/
.bgsq {
  width: 1030px;
  margin: auto;
  height: 70px;

}

#qna {
  width: 300px;
  height: 70px;
  float: right;
}

#qna1 {
  margin: 18px 0;
  width: 330px;
  height: 40px;
  float: right;
}
#set{width: 100px;height: 35px;}

#qna1 #unumber {
  width: 160px;
  outline-style: none;
  padding: 6px 2px;
  background: url(../images/Community/search.png)100% no-repeat;
}




/*검색*/
#qnass {
  width: 1000px;
  height: 460px;
  margin: 10px auto auto auto;
}

/*리스트*/
#qnass .no0 {
  width: 1000px;
  height: 50px;
  background-color: #f8dfe8;
  border-top: 2px solid #3b3b33;
  font-weight: 600;
}

#qnass .no0 li {
  display: block;
  float: left;
  padding-top: 12px;
}


#qnass .no0 .no a {
  margin-left: 65px;


}

#qnass .no0 .name a {
  padding-left: 398px;

}

#qnass .no0 .page a {
  padding-left: 290px;
}

#qnass .no0 .list a {
  float: right;
  padding-left: 45px;
}

/*리스트1*/
#qnass .no1 {
  width: 1000px;
  height: 40px;
  background-color: #ffffff;
}

#qnass .no1 li {
  float: left;
  padding-top: 7px;
}

#qnass .no1 .no a {
  width: 27px;
  height: 27px;
}

#qnass .no1 .no a img {
  width: 27px;
  height: 27px;

  padding-left: 60px;
}

#qnass .no1 .name a {
  padding-left: 35px;
  font-weight: 600;
  color: #ff0000;
  font-size: 15px;
}

#qnass .no1 .page a {
  padding-left: 55px;
  font-size: 13px;
  font-weight: 600;
  font-family: GmarketSansMedium;
}

#qnass .no1 .list a {
  padding-left: 426px;
  font-size: 12px;
}

/*리스트2*/
#qnass .no2 {
  width: 1000px;
  height: 40px;
  background-color: #ffffff;
  border-top: 2px solid #3b3b33;
}



#qnass .no2 li {
  float: left;
  padding-top: 7px;
}

#qnass .no2 .no a {
  width: 27px;
  height: 27px;
}

#qnass .no2 .no a img {
  width: 27px;
  height: 27px;

  padding-left: 60px;
}

#qnass .no2 .name a {
  padding-left: 35px;
  font-weight: 600;
  color: #ff0000;
  font-size: 15px;
}

#qnass .no2 .page a {
  padding-left: 55px;
  font-size: 13px;
  font-weight: 600;
  font-family: GmarketSansMedium;
}

#qnass .no2 .list a {
  padding-left: 477px;
  font-size: 12px;
}

#qnass .no2 .list img {
  width: 22px;
  height: 21px;
}

#qnass .no2 .list_1 a {
  padding-left: 42px;
  font-size: 12px;
}

/*리스트3*/
#qnass .no2 .lists a {
  padding-left: 457px;
  font-size: 12px;
}

#qnass .no2 .lists img {
  width: 22px;
  height: 21px;
}

/*리스트4*/

#qnass .no1_x {
  width: 1000px;
  height: 40px;
  background-color: #ffffff;
  border-top: 2px solid #3b3b33;
}

#qnass .no1_x li {
  float: left;
  padding-top: 7px;
}

#qnass .no1_x .no a {
  width: 27px;
  height: 27px;
}

#qnass .no1_x .no a img {
  width: 27px;
  height: 27px;

  padding-left: 60px;
}

#qnass .no1_x .name a {
  padding-left: 35px;
  font-weight: 600;
  color: #ff0000;
  font-size: 15px;
}

#qnass .no1_x .page a {
  padding-left: 55px;
  font-size: 13px;
  font-weight: 600;
  font-family: GmarketSansMedium;
}

#qnass .no1_x .list a {
  padding-left: 426px;
  font-size: 12px;
}




#qnass .no1_x .listx a {
  padding-left: 462px;
  font-size: 12px;
}

/*리스트5*/
#pnass .n02 .no_1 {
  float: left;
  padding-top: 7px;
}

#qnass .no2 .no_1 a {
  padding-left: 68px;
  font-size: 12px;
  font-weight: 600;
}

#qnass .no2 .name_1 a {
  padding-left: 47px;
  border: 2px solid #c950e4;
  margin: 50px;
  padding: 1px 2px;
  font-weight: 600;
  font-size: 12px;
}

#qnass .no2 .page_1 a {
  padding-left: 4px;
  font-weight: 500;
  font-size: 13px;
  font-family: GmarketSansMedium;

}

#qnass .no2 .listx_1 a {
  padding-left: 418px;
  font-size: 12px;
}

#qnass .no2 .listx_1 img {
  width: 22px;
  height: 21px;
}

#qnass .no2 .listx_11 a {
  padding-left: 42px;
  font-size: 12px;
}

/*리스트6*/
#qnass .no2 .listx_1_1 a {
  padding-left: 448px;
  font-size: 12px;
}

#qnass .no2 .listx_1_1 img {
  width: 22px;
  height: 21px;
}

#qnass .no2 .listx_1_1_1 a {
  padding-left: 365px;
  font-size: 12px;
}

#qnass .no2 .listx_1_1_1 img {
  width: 22px;
  height: 21px;
}

/*리스트7*/
#qnass .no2 .listx_img a {
  padding-left: 508px;
  font-size: 12px;
}

#qnass .no2 .listx_img img {
  width: 22px;
  height: 21px;
}

/*리스트8*/

#qnass .no2_s {
  width: 1000px;
  height: 40px;
  background-color: #ffffff;
  border-top: 2px solid #3b3b33;
  border-bottom: 2px solid #3b3b33;
}

#qnass .no2_s li {
  float: left;
  padding-top: 7px;
}

#qnass .no2_s .no_1 a {
  padding-left: 68px;
  font-size: 12px;
  font-weight: 600;
}

#qnass .no2_s .name_1 a {
  border: 2px solid #c950e4;
  margin: 50px;
  padding: 1px 2px;
  font-weight: 600;
  font-size: 12px;
}

#qnass .no2_s .page_1 a {
  padding-left: 4px;
  font-weight: 500;
  font-size: 13px;
  font-family: GmarketSansMedium;
}


#qnass .no2_s .listx_img a {
  padding-left: 433px;
  font-size: 12px;
}

#qnass .no2_s .listx_img img {
  width: 22px;
  height: 21px;
}



#qnass .no2_s .listx_11 a {
  padding-left: 42px;
  font-size: 12px;
}

/*버튼*/
/*버튼*/
#butin {
  text-align: center;
  width: 221px;
  height: 40px;
  margin: 45px auto;
  border: 1px solid black;
}

#butin #to .down {
  width: 42px;
  height: 40px;
  float: left;
  border-right: 1px solid black;
  background-color: white;
}

#butin #to .down a {
  display: inline-block;
  margin: 5px;
}

#butin #to .down1 {
  width: 40px;
  height: 40px;
  float: left;
}

#butin #to .down1 a {
  display: inline-block;
  margin: 5px;
}
/*footer*/
#footer {
  background-color: #ebc9e0;
  width: 100%;
  height: 410px;
  margin-top:150px ;
}

.footer1 {
  width: 1125px;
  height: 350px;
  margin: auto;

  padding-top: 60px;
}

.lodo1 {
  width: 170px;
  height: 95px;
  float: left;
  margin: 15px 0 0 30px;
}

.lodo1 img {
  width: 170px;
  height: 95px;
}

#footer2 {
  width: 700px;
  height: 240px;


  float: left;
  margin-left: 150px;
}

#footer2 .footer2_1 {
  width: 700px;
  height: 35px;
  margin-bottom: 10px;
  float: left;
}

#footer2 .footer2_1 .li1k li {
  float: left;
}

#footer2 .footer2_1 .li1k li a {
  font-size: 15px;
  color: #534953;
  font-weight: 600;
  padding-right: 30px;
}

#footer2 .footer2_2 {
  width: 260px;
  height: 60px;
  float: left;
}

#footer2 .footer2_2 .li1k li {
  float: left;
}

#footer2 .footer2_2 .li1k li a {
  padding-right: 15px;
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

#footer2 .footer2_3 {
  width: 650px;
  height: 60px;
  float: left;
  margin-top: 10px;
}

#footer2 .footer2_3 .li1k1 li {
  float: left;
}

#footer2 .footer2_3 .li1k1 li a {
  padding-right: 15px;
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

#footer2 .footer2_4 {
  width: 265px;
  height: 30px;
  float: left;
  margin-top: 10px;
}

#footer2 .footer2_4 p {
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

.footer3 {
  width: 175px;
  height: 55px;
  float: right;
  position: relative;
  right: 45px;
}

.footer3 #kui {
  width: 50px;
  height: 50px;
  padding-right: 6px;
}

.footer3 #kui img {
  width: 50px;
  height: 50px;
}
