
/*기본설정*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #220417;
}

ul {
  list-style: none;
}

body {
  font-family: 윤고딕;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #220417;
  min-width: 1320px;
}

/*기본설정*/
/*헤더*/
#header {

  height: 125px;
}

.header_inner {
  width: 1320px;
  height: 80px;
  padding-top: 45px;
  margin: auto;

}

/*왼쪽_버튼*/
#L_m .l_M {
  float: left;
}

#L_m .l_M li {
  float: left;
}

#L_m .l_M .li1 a {
  padding-left: 20px;
  font-weight: 600;
}

#L_m .l_M li a {
  padding-right: 12px;
  font-weight: 600;
  font-size: 12px;

}

/*왼쪽_버튼*/
/*검색_기능*/
#look {
  float: right;
}

.search input {
  width: 80%;
  outline-style: none;
  padding: 5px 5px;
  border-radius: 3px;
  background: url(../images/Packing_supplies/search.png)100% no-repeat;
}

/*검색_기능*/
/*로고*/
.logo {
  width: 170px;
  height: 55px;
  margin: auto;
  padding-bottom: 20px;
}

.logo img {
  width: 170px;
  height: 55px;
  margin: auto;
}

/*로고*/
/*헤더*/
/*메뉴*/
.M {
  background-color: #f8dfe8;
  border-top: 1px solid #3b3b33;
  border-bottom: 1px solid #3b3b33;
}

#MENU {

  height: 40px;
  width: 1320px;
  margin: auto;
}

#MENU .menu {
  text-align: center;
  margin-left: 65px;

}

#MENU .menu .img_1 {
  width: 27px;
  height: 18px;
  float: left;

}

#MENU .menu .img_1 img {
  width: 27px;
  height: 18px;
  float: left;
  display: block;
  border-right: 1px solid #3b3b33;
  border-left: 1px solid #3b3b33;
  padding: 11px 5px;
}

#MENU .menu .li2 {
  padding-left: 170px;

}

#MENU .menu li {

  float: left;
}

#MENU .menu li a {
  padding-right: 58px;
  position: relative;
  top: 8px;
  font-weight: 700;
}

/*메뉴*/
/*배너*/

/*배너*/

/*배경*/
.bg1 {
  width: 1320px;
  height: 380px;
  margin: auto;
  border-bottom: 2px solid #3b3b33;
}

/*왼쪽 상단 글*/
.bg1 .p {
  padding: 80px 0 0 30px;
}
.bg1 .go {
  padding: 80px 0 0 0;
  font-size: 24px;
  font-family:GmarketSansMedium;
  text-align: center;
}

.bg1 .go_x {
  padding: 80px 0 30px 0;
  font-size: 16px;
  font-family: 700;
  text-align: center;
}

/*중앙*/
/*디퓨저_이름*/
#name {
  width: 430px;
  height: 46px;
  margin: 30px auto auto auto;
}

#name #ul_n1 {
  float: left;
}

#name #ul_n1 li {
  float: left;
  text-align: center;
}

#name #ul_n1 li a {
  float: left;
  text-align: center;
  padding: 10px 25px;
  font-weight: 700;
}

#name #ul_n1 .li1 a {
  border: 1px solid #220417;
  padding: 10px 45px;
}


#name #ul_n1 .li1 a:hover {
  background-color: #ebc9e0;
}


#name #ul_n1 .li2x a {
  border: 1px solid #220417;
  padding: 10px 45px;
}

#name #ul_n1 .li2x a:hover {
  background-color: #ebc9e0;
}

#name #ul_n1 .li3 a {
  border: 1px solid #220417;
  padding: 10px 45px;
  background-color: #ebc9e0;
}





/*디퓨저_이름*/
/*배경*/
#img_by_bg {
  width: 1320px;
  height: 1925px;
  margin: auto;
}

#img_by_bg .p2 {
  padding: 30px 0 0 48px;
}

#img_by_bg .p2 .L14 {
  font-weight: 500;
}

#img_by_bg .p2 .p3 {
  float: right;
  padding-right: 65px;
}

/*제품*/
.img_bg1 {
  width: 1260px;
  height: 400px;
  margin: 70px auto;
}

.img_bg12 {
  width: 1260px;
  height: 400px;
  margin: 70px auto;
}

/*제품들*/

.img_bg1 .img_1_1 {
  width: 325px;
  height: 400px;
  float: left;
}

.img_bg1 .img_1_10 {
  width: 283px;
  height: 400px;
  float: left;
}

.img_bg1 .img_1_1 img {
  width: 283px;
  height: 283px;
}

.img_bg12 .img_1_1 {
  width: 325px;
  height: 400px;
  float: left;
}

.img_bg12 .img_1_10 {
  width: 283px;
  height: 400px;
  float: left;
}

.img_bg12 .img_1_1 img {
  width: 283px;
  height: 283px;
}


.img_1_11 {
  width: 282px;
  height: 100px;
}

.img_1_11 .img_1_1p {
  font-weight: 600;
  text-align: center;
}

.img_1_11 .img_1_1pimg {
  width: 27px;
  height: 27px;
  float: left;
  text-align: center;
  position: relative;
  left: 35%;
  margin-top: 10px;
}

.img_1_11 .img_1_1pimg img {
  width: 27px;
  height: 27px;
}

/*제품들*/
/*버튼*/
#butin {
  text-align: center;
  width: 221px;
  height: 40px;
  margin: 45px auto;
  border: 1px solid black;
}

#butin #to .down {
  width: 42px;
  height: 40px;
  float: left;
  border-right: 1px solid black;
  background-color: white;
}

#butin #to .down a {
  display: inline-block;
  margin: 5px;
}

#butin #to .down1 {
  width: 40px;
  height: 40px;
  float: left;
}

#butin #to .down1 a {
  display: inline-block;
  margin: 5px;
}






/*버튼*/


/*배경*/
/*footer*/
#footer {
  background-color: #ebc9e0;
  width: 100%;
  height: 410px;
  margin-top:150px  ;
}

.footer1 {
  width: 1125px;
  height: 350px;
  margin: auto;

  padding-top: 60px;
}

.lodo1 {
  width: 170px;
  height: 95px;
  float: left;
  margin: 15px 0 0 30px;
}

.lodo1 img {
  width: 170px;
  height: 95px;
}

#footer2 {
  width: 700px;
  height: 240px;


  float: left;
  margin-left: 150px;
}

#footer2 .footer2_1 {
  width: 700px;
  height: 35px;
  margin-bottom: 10px;
  float: left;
}

#footer2 .footer2_1 .li1k li {
  float: left;
}

#footer2 .footer2_1 .li1k li a {
  font-size: 15px;
  color: #534953;
  font-weight: 600;
  padding-right: 30px;
}

#footer2 .footer2_2 {
  width: 260px;
  height: 60px;
  float: left;
}

#footer2 .footer2_2 .li1k li {
  float: left;
}

#footer2 .footer2_2 .li1k li a {
  padding-right: 15px;
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

#footer2 .footer2_3 {
  width: 650px;
  height: 60px;
  float: left;
  margin-top: 10px;
}

#footer2 .footer2_3 .li1k1 li {
  float: left;
}

#footer2 .footer2_3 .li1k1 li a {
  padding-right: 15px;
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

#footer2 .footer2_4 {
  width: 265px;
  height: 30px;
  float: left;
  margin-top: 10px;
}

#footer2 .footer2_4 p {
  color: #665b66;
  font-size: 13px;
  font-weight: 600
}

.footer3 {
  width: 175px;
  height: 55px;
  float: right;
  position: relative;
  right: 45px;
}

.footer3 #kui {
  width: 50px;
  height: 50px;
  padding-right: 6px;
}

.footer3 #kui img {
  width: 50px;
  height: 50px;
}